body {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    gap: 1rem;
}

main {
    border: 1px solid #ccc;
    background: lightblue;
    flex: 3;
}

aside {
    border: 1px solid red;
    background: lightcoral;
    flex-basis: 25%;
}