<!DOCTYPE html>
    <%- include('../partials/head');%>
    
    <body class="container">
        <%- include('../partials/header', {pagina: 'About'}); %>

        <main>
            <div class="jumbotron bg-light">
                <h1>Sobre mim</h1>
                <h3>Olá, sou lucas exposito, aluno da rocketseat</h3>
                
            </div>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>